body {
    font-family: Arial, sans-serif;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.5);;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: rgb(84, 169, 226); 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.switchload {
    margin-top: 15px;
    cursor: pointer;
    color: #35354d;
}

.switch {
    color: #651ed8;
}

.switchload:hover {
    text-decoration: underline;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}